[submodule "external/tmux-powerline"]
	path = external/tmux-powerline
        url = https://github.com/AppleDash/tmux-powerline.git
[submodule "dotfiles/vim/bundle/Vundle.vim"]
	path = dotfiles/vim/bundle/Vundle.vim
        url = https://github.com/VundleVim/Vundle.vim.git

[submodule "dotfiles/vim/bundle/YouCompleteMe"]
	path = dotfiles/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "external/prezto"]
	path = external/prezto
	url = https://github.com/AppleDash/prezto.git
